<%- include('partials/_header') %>

<body>

  <!-- Navigation -->
  <%- include('partials/_nav') %>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Edit Post</h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST" action="/post/<%= post._id %>?_method=PUT" >
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Edit Post Title</label>
              <input name="title" type="text" class="form-control" placeholder="Edit Post Title"  >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Edit Post Author</label>
              <input name="author" type="text" class="form-control" placeholder="Edit Post Author"  >
              <p class="help-block text-danger"></p>
            </div>
          </div>
         
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Edit Post Content</label>
              <textarea name="content" rows="5" class="form-control" placeholder="Edit Post Content"  ></textarea>
              <p class="help-block text-danger"></p>
            </div> 
          </div>
         
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" >Send</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <%- include('partials/_footer') %>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>